<div class="row">
    <div class="col-sm-8 col-sm-offset2">
        <form (ngSubmit) ="onSubmit()" [formGroup]="actorForm">

            <div class="form-group">
                <label for="first_name">
                    First name
                </label>
                <input type="text" id="first_name" class="form-control" placeholder="first_name" [formControl]="first_nameCtl">
                <small class="text-danger" *ngIf="first_nameCtl.hasError('required')"> require </small>
                <small class="text-danger" *ngIf="first_nameCtl.hasError('minlength')">
                minimum length is {{first_nameCtl.errors?.minlength.requiredLength}}</small>
            </div>

            


            <div class="form-group">
                <label for="last_name">
                   Last name
                </label>
                <input type="text" id="last_name" class="form-control" placeholder="last_name" [formControl]="last_nameCtl">
                <small class="text-danger" *ngIf="last_nameCtl.hasError('required')"> require </small>
                <small class="text-danger" *ngIf="last_nameCtl.hasError('minlength')">
                minimum length is {{last_nameCtl.errors?.minlength.requiredLength}}</small>
            </div>
            
            
            <button class="btn btn-primary" type="submit" [disabled]="actorForm.invalid">save</button> 

            </form>
    </div>
</div>