<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    {{title}}
  </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" *ngIf="checkAuth()">
        <a class="nav-link" routerLink="actors">Actors</a>
      </li>

      <li class="nav-item" *ngIf="checkAuth()">
        <a class="nav-link" routerLink="users">users</a>
      </li>

      <li class="nav-item" *ngIf="!checkAuth()">
        <a class="nav-link" routerLink="auth">auth</a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" routerLink="edit-actors">add actors</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="edit-users">create account</a>
      </li>

      
      <li class="nav-item" *ngIf="checkAuth()">
        <a class="btn btn-danger" (click)="logout()">Logout</a>
      </li>
   


    </ul>
  </div>
</nav>
<div class='container-fluid center_div'>
<ul class="list-group">
  <router-outlet></router-outlet>
</ul>
</div>